.button {
  background-color: pink;
  border: none;
  padding: 15px;
  margin: 0 2px;

  &__title {
    color: white;
    font-size: 2em;
  }

  &:first-of-type {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  &:last-of-type {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}