$size: 70px;
.arrow {
  background-color: rgba(#fff, 0.5);
  border: none;

  background-image: url(./assets/arrow.svg);
  background-repeat: no-repeat;
  background-position: right center;
  border-bottom-left-radius: $size * 2;
  border-top-left-radius: $size * 2;

  height: $size * 2;
  width: $size;

  &:first-of-type {
    transform: rotate(180deg);
  }
}