.carousel {
  width: 100%;
  max-width: 520px;

  &__images {
    position: relative;
  }

  &__buttons {
    display: none;
  }

  &__arrows {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 520px;
  }
}

@media screen and (min-width: 720px) {
  .carousel {
    max-width: none;
    &__images {
      display: flex;
      flex-direction: row;
      justify-content: space-between;        
    }
    &__buttons {
      padding-top: 12px;
      display: block;
    }

    &__arrows {
      display: none;
    }
  }
}