.app {
  text-align: center; 
  display: flex;
  flex-direction: column;
  align-items: center;
  &__buttons {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
}

@import
  'common/reset';

@import
  'components/Button/button',
  'components/Carousel/carousel',
  'components/Image/image',
  'components/Arrow/arrow';
