.image {
   width: 100%;
   height: 100%;
  &__image {
    max-width: 100%;
    max-height: 100%;
  }
}

@media screen and (min-width: 720px) {
  .image {
    display: inline-block;
    width: calc(100%/3 - 5px);
  }
}

@media screen and (min-width: 900px) {
  .image {
    width: calc(100%/5 - 5px);
  }
}